@page
@model RegisterConfirmationModel
@{ 
    ViewData["Title"] = "Potvrzení registrace";
    Layout = null;

    // get source from URL
    FiremniTestovani.Models.ApplicationSource source = (FiremniTestovani.Models.ApplicationSource)HttpContext.Items["source"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | FiremníTestování.cz</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a asp-action="Index" asp-controller="Home" asp-area="">
                <img src="~/clients/@source.GetClientConfigDir()/img/logo.png" class="img-fluid" />
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Přihlášení do administrace @source.Name</p>

                @if (Model.DisplayConfirmAccountLink)
                {
                    <p class="login-box-msg"><a id="confirm-link" href="@Model.EmailConfirmationUrl">Klikněte sem pro potvrzení vašeho účtu</a></p>
                }
                else
                {
                    <p class="login-box-msg font-weight-bold">Vyčkejte na IT na potvrzení účtu.</p>
                }
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
</body>
</html>